
.colors{
	color:#3f3f3f - Grey
	color:#e6a95b - Ligth Orange
	color:#dc8923 - Dark Orange
}

body{
	font-family: 'Montserrat', sans-serif;
}

.imgProfile{
	width: 30%;
	border-radius: 50%;
	border: 7px solid #e6a95b; 
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.myicons .icon{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: 1.5rem;
	height: 4rem; 
	width: 4rem;
	border-radius: 100%;
	background-color: #fff;
	color: #3f3f3f;
	font-size: 2rem; 
	text-decoration: none;

}
.skill-icon{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-right: 1.5rem;
	height: 8rem; 
	width: 8rem;
	border-radius: 30%;
	background-color: #3f3f3f;
	color: #fff; 
	font-size: 4rem;
	text-decoration: none;

}
.skill-icon:hover{
	color: #dc8923;
	transform: scale(1.02);
	text-decoration: none;
}
.myicons .icon:hover{
	background-color: #e6a95b;
	transform: scale(1.1);
	text-decoration: none;
}


.navbar-custom{
	background-color: #dc8923;
}
/* change the brand and text color */
.navbar-custom .navbar-brand{
	color: rgba(255,255,255,1);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item{
	color: #ffffff;
}
.navbar-custom .nav-item:hover{
    color: #ffffff;
    background-color: #e6a95b;
    transform: scale(1.02);
    border-radius: 1rem;
}
.navbar-custom .nav-item.active{
    color: #ffffff;
    background-color: #e6a95b;
    border-radius: 1rem;
}

.name{
	color: white;
	font-size: 3rem;
}
.subname{
	color: white;
	font-size: 2rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.title{
	vertical-align: middle;
	padding-top: 1rem;
	padding-bottom:1rem;
	color: white;
	background-color: #e6a95b;
}
.title-text{
	font-size: 2rem;
	font-weight: 500;
}
.heading{
	margin-top: 2rem;
	margin-left: 6rem; 
  	text-transform: uppercase;
  	font-weight: 500;
  	font-size: 2rem;
}

.subheading{
	margin-left: 6rem;
	margin-bottom: 1rem;
  	font-weight: 250;
  	font-size: 1.5rem;
}
.date{
	font-size: 1rem; 
	color: white;
	margin-top: 3rem;
	margin-left: 6rem; 
	margin-right: 4rem;

}
.date-bg{
	background-color: #3f3f3f;
	padding: 0.75rem;
	border-radius: 1.5rem;
}
.information{
	margin-left: 6rem;
}

.section-content{
 	align-items: center;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 3.5rem;
	padding-bottom: 1rem;
}
.section-icons{
	margin-top: 2rem;
}
.orange-bg{
	background-color: #e6a95b;
}
.grey-bg{
	background-color: #3f3f3f;
}
.white-bg{
	background-color: white;
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 20rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
  margin-right: 2rem;
  margin-left: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}
